{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>
        Password Reset Done
    </title>
{% endblock %}

{% block content %}
    <div class="bg-gray-100 bg-fixed min-h-screen flex w-full flex-col px-6 py-8 lg:px-0 mx-auto">

        <!-- App Logo -->
        <figure class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto w-24 h-24 w-auto" src="{% static 'img/logo2.svg' %}" alt="chatty-logo" />
        </figure>

        {% include 'snippets/messages.html' %}

        <h2 class="mt-14 text-center text-3xl font-bold leading-9 tracking-tight text-gray-800">
            Email Sent!
        </h2>

        <div class="mt-10 mx-auto w-full md:max-w-3xl bg-white shadow-min p-8 rounded-sm">
            <form class="" method="POST">
                {% csrf_token %}

                <!-- Field   -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-6">

                    <!-- Email -->
                    <div class="col-span-full">
                        <p class="block text-center text-xl font-bold text-gray-600">
                            Check your inbox. We've emailed you instructions for resetting your password.
                            You should receive the email shortly.
                        </p>
                    </div>
                </div>
            </form>

            <div class="mt-12 space-x-4 flex flex-row justify-center">
                <p class="text-center text-md text-gray-600 font-semibold">
                    Already have an account?
                    <a href="{% url 'userlogin' %}"
                       class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
                        Log In
                    </a>
                </p>

                <p class="text-center text-md text-gray-600 font-semibold">
                    New User?
                    <a href="{% url 'register' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">
                        Sign Up
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
