{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>
        Password Change Complete
    </title>
{% endblock %}

{% block content %}
    <div class="bg-gray-100 bg-fixed min-h-screen flex w-full flex-col px-6 py-8 lg:px-0 mx-auto">

        <!-- App Logo -->
        <figure class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto w-24 h-24 w-auto" src="{% static 'img/logo2.svg' %}" alt="chatty-logo" />
        </figure>

        {% include 'snippets/messages.html' %}

        <span class="inline-flex mx-auto mt-14 items-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="text-green-800 w-20 h-20">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
            </svg>
        </span>

        <h2 class="mt-6 text-center text-3xl font-bold leading-9 tracking-tight text-gray-800">
            Password Change Complete
        </h2>

        <div class="mt-8 mx-auto w-full md:max-w-3xl bg-white shadow-min px-8 py-6 rounded-sm">

            <!--Confirmation message -->
            <div class="col-span-full gap-y-6">
                <p class="block text-center text-xl font-bold text-gray-600">
                    Your password has been successfully changed. You'll need to
                    <a href="{% url 'userlogin' %}"
                       class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">
                        Log In
                    </a>
                    again with the new password.
                </p>
            </div>

            <div class="mt-10 space-x-4 flex flex-row justify-center">
                <p class="text-center text-md text-gray-600 font-semibold">
                    New User?
                    <a href="{% url 'register' %}" class="font-semibold text-indigo-600 hover:text-indigo-500">
                        Sign Up
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
