{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
      <h1>Hello, Welcome to Chatty! {{request.user}}</h1>
    </div>
    <br />

    {% if request.user.is_authenticated %}
      <div>
        <a href="{% url 'logout_user' %}">Logout</a>
      </div>
    {% endif %}

    <div
      class="chat__item__container"
      id="id_chat_item_container"
      style="font-size: 20px"
    >
      <br />
      <input type="text" id="id_message_send_input" />
      <button type="submit" id="id_message_send_button">Send Message</button>
      <br />
      <br />
    </div>

    <script src="{% static 'js/websocket.js' %}"></script>

{% endblock %}
