{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
    	{% block title %}{% endblock %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

		<style>
			.shadow {
				box-shadow:
					rgba(0, 0, 0, 0.3) 0px 19px 38px,
					rgba(0, 0, 0, 0.22) 0px 15px 12px,
					rgba(0, 0, 0, 0.35) 0px 5px 15px
				;
			}

			.shadow-min {
				box-shadow:
					rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}
		</style>
	</head>

	<body class="bg-index bg-no-repeat bg-cover bg-center bg-fixed font-sans items-center justify-center mx-auto
				 min-h-screen leading-normal tracking-normal z-10">

		{% block content %}
		{% endblock %}

		{% block include_js %}
		{% endblock %}

		{% block domready %}
		{% endblock %}

		<!-- JavaScript to close error message -->
		<script src="{% static 'js/close-notif-message.js' %}"></script>

		<!-- JavaScript to load spinner -->
    	<script src="{% static 'js/loader.js' %}"></script>
	</body>
</html>
