{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Chatty</title>
{% endblock %}

{% block content %}
    <div class="flex flex-col h-screen justify-between bg-gray-100">
        <nav class="bg-blue-600">
            <div class="mx-auto w-full px-4 py-2">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-stretch justify-between justify-start">
                        <div class="flex items-center">
                            <!-- Chat Room -->
                            <a
                                href="{% url 'index' %}"
                                class="bg-blue-900 text-white rounded-md px-4 py-3 text-xl font-medium"
                            >
                                Chat
                            </a>
                        </div>

                        <!-- App Logo -->
                        <div class="flex mx-auto">
                            <img class="h-32 w-32" src="{% static 'img/logo2.svg' %}" alt="Speek Logo">
                        </div>

                        <!-- Profile Menu Container -->
                        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                            <!-- Profile Menu -->
                            <div class="relative ml-3">

                                <!-- Button to open the Profile Menu -->
                                <div>
                                    <button
                                        type="button"
                                        class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2
                                                focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                        id="user-menu-button"
                                        aria-expanded="false"
                                        aria-haspopup="true"
                                    >
                                        <!-- Profile Picture -->
                                        <span class="absolute -inset-1.5"></span>
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-14 w-14 rounded-full" src="{{ user.profile.image.url }}" alt="">
                                    </button>
                                </div>

                                <!-- Profile Menu Items -->
                                <div
                                    id="profile-menu"
                                    class="absolute right-0 z-10 mt-8 mr-4 md:mr-8 w-52 origin-top-right rounded-sm
                                           bg-white py-0 shadow-min ring-1 ring-black ring-opacity-5 focus:outline-none
                                           hidden text-center"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="user-menu-button"
                                    tabindex="-1"
                                >
                                    <!-- Profile Page -->
                                    <a
                                        href="{% url 'chat:chat-userprofile' user.id %}"
                                        class="block px-4 py-2 text-lg text-gray-700 cursor-pointer w-full
                                               font-semibold hover:bg-gray-100"
                                        role="menuitem"
                                        tabindex="-1"
                                        id="user-menu-item-0"
                                    >
                                        <span>{{ request.user|title }}'s Profile</span>
                                    </a>

                                    <!-- Change Password -->
                                    <a
                                        href="{% url 'chat:password_change' %}"
                                        class="block px-4 py-2 text-lg text-gray-700 cursor-pointer w-full
                                               font-semibold hover:bg-gray-100"
                                        role="menuitem"
                                        tabindex="-1"
                                        id="user-menu-item-1"
                                    >
                                        <span>Change Password</span>
                                    </a>

                                    <!-- Logout Button -->
                                    <button
                                        type="button"
                                        role="menuitem"
                                        tabindex="-1"
                                        id="user-menu-item-2"
                                        class="cursor-pointer w-full hover:bg-blue-100"
                                    >
                                        <form method="POST" action="{% url 'userlogout' %}">
                                            {% csrf_token %}
                                            <input
                                                type="submit"
                                                value="Sign Out"
                                                class="block px-4 py-2 text-lg text-blue-700 font-semibold
                                                       cursor-pointer text-center mx-auto"
                                            >
                                        </form>
                                    </button>

                                    <!-- Delete Account -->
                                    <button
                                        role="menuitem"
                                        tabindex="-1"
                                        id="open-delete-modal"
                                        class="cursor-pointer w-full hover:bg-red-200"
                                    >
                                        <span
                                            class="block px-4 py-2 text-lg text-red-600 font-semibold
                                                   cursor-pointer text-center mx-auto"
                                        >
                                            Delete Account
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% include 'snippets/messages.html' %}

	    <!-- chat container -->
        <div id="chat" class="overflow-y-auto flex flex-1 flex-col pt-6 pb-6 mx-0">
        </div>

        <!-- Input and Send message button -->
        <div id="chat-input" class="sticky flex flex-row h-16 space-x-0 p-0">
            <input id="chat-message-input"
                name="message"
                type="text"
                autocomplete="off"
                placeholder="Type a message..."
                class="w-full rounded-none border-0 py-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400
                       placeholder:text-gray-400 placeholder:text-lg placeholder:font-semibold font-semibold
                       text-lg focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:leading-6"
            >

            <!-- Send Message button -->
            <button id="chat-message-submit"
                type="submit"
                class="w-1/6 rounded-none bg-blue-600 px-3 py-4 text-xl text-center font-semibold leading-6
                       text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2
                       focus-visible:outline-offset-2 focus-visible:outline-indigo-600 border-2 border-blue-600"
            >
                <span class="text-xl md:text-2xl font-semibold text-white">
                    Send
                </span>
            </button>
        </div>
    </div>

    <!-- Modal popup (Delete form) -->
    {% include 'snippets/delete-modal.html' %}

    <!-- JavaScript for delete modal popup -->
    <script src="{% static 'js/delete-modal-popup.js' %}"></script>
{% endblock %}

{% block include_js %}
    {{ request.user.username|json_script:"request-user" }}
{% endblock %}

{% block domready %}
    <script src="{% static 'js/websocket.js' %}"></script>
{% endblock %}
